.mea-culpa-regular {
    font-family: "Mea Culpa", cursive;
    font-weight: 400;
    font-style: normal;
}

html, body {
    padding: 2px;
    background-color: #FFE6EE;
    text-align: center;
}

.project_heading {
    font-family: "Mea Culpa", cursive;
    font-size: 25px;
    color: black;
}

.shirt_imageFloat {
    width: 900px;
    display: block; 
    margin: 0 auto;
    animation: float 3s ease-in-out infinite;
}

#EnterButton {
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px;
    margin-top: 20px;
}

.Love_Shirt {
    animation: float 3s ease-in-out infinite;

}
@keyframes float { /* I took this float code from this website https://get.corner.inc/ THank you Queenie */
    0% { transform: translateY(0px); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0px); }
}